@model List<App.Domain.Contracts.CustomerDto>

<h3>Customers</h3>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].Email</td>
                    <td>@Model[i].FirstName</td>
                    <td>@Model[i].LastName</td>
                </tr>
            }
        </tbody>
    </table>
</div>